<h1 style="color:red">
    New Comic
</h1>
 
<form method="post">
    <label>IdComic</label>
    <input type="text" name="idcomic"
        class="form-control" required/>

    <label>Nombre</label>
    <input type="text" name="nombre"
        class="form-control" required/>

    <label>Imagen</label>
    <input type="image" name="imagen"
        class="form-control" required/>

    <label> Descripcion</label>
    <input type="text" name="descripcion"
        class="form-control" required/>

    <button class="btn btn-info">
        Create
    </button>
</form>